# Docker Compose – Le Marché
version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: lemarche
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adgroupe1919
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
